{% extends "main/header.html" %}
{% block content %}
<h1>Rules</h1>
<ul>
    <li>
        <p>Don't try to compromise the operation of the system.</p>
    </li>
    <li>
        <p>Respect other users.</p>
    </li>
    <li>
        <p>It is not permissible to use bad words or offensive language, It is also forbidden to write or share violent material or material with explicit sexual content.</p>
    </li>
    <li>
        <p>Any form of bullying is prohibited.</p>
    </li>
    <li>
        <p>It is forbidden to share sensitive data(including personal data or other people's data).</p>
    </li>
    <li>
        <p>Message spam is prohibited</p>
    </li>
    <li>
        <p>Any form of scam is prohibited</p>
    </li>
</ul>
<br>
<p>Anyone who does not comply with the rules will be sanctioned in the following ways: Deleting content, permanent account ban.</p>
<p>In severe cases you also risk problems with the law.</p>
<br>
<h2>Privacy</h2>
<p>The service <strong>does not collect</strong> personal data other than the data entered by the user.</p>
<p>The collected data <strong>is not used</strong> by third-party services and <strong>is not shared</strong> with anyone <strong>except</strong> the authorities with a special recommendation.</p>
<br>
<br>
<h6 style="float: right">Copyright &copy; 2019 Fortheum</h6>
{% endblock %}